
.containter-home{
    display: flex;
    padding-top: 55px;
    flex-direction: column;
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}